.btn{
    background-color: #22658F;
    padding: 15px 50px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: clamp(.5rem, 2.5vw, 1rem); 
    letter-spacing: 1.2px;
    margin-top: 50px;
}

.btn-m{
    width: 500px;
}

.btn-l{
    width: 100%;
}

.btn:hover{
    background-color: #0d4466;
    color: #ffffff;
    fill: #22658F;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
   
}