
.navbar{
    display: flex;
    align-items: center;
    height: 10Vh;
    padding: 0 130px;
    
}
.logo{ 
    text-align: left;
}
@media screen and (max-width: 700px) {
    .logo{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}