.footer{
    padding: 100px 130px;
}
.footer-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin-bottom: 0px;
}
.footer-holder h1{
    margin-bottom: 50px;
    letter-spacing: 2px;
    
    font-size: clamp(.5rem 2.5vw 2.5);
}
.footer-holder h3{
    letter-spacing: 1.5px;
    font-weight: 200;
    font-size: clamp(.5rem 2.5vw 2.5);
}
.socmed-holder{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.socmed{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    color: #000;
    overflow: hidden;
    cursor: pointer;
}
.socmed img{
    width: 50px;
}
@media screen and (max-width: 700px) {

    .footer{
        padding: 50px;
    }

}